In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import gc
import glob

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False


# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

In [2]:
data_type1 = "train"
data_type2 = "test"
# month = "07"
# category = "성과정보"

# local
root_path = '../data/open'

# colab
# root_path = '/content/drive/MyDrive/12조 파이널프로젝트/data'

drive_folder1 = f'{root_path}/{data_type1}/8.성과정보/'
drive_folder2 = f'{root_path}/{data_type2}/8.성과정보/'

In [3]:
# parquet 파일 데이터를 읽어온다.
df1 = pd.read_parquet(f'{drive_folder1}201807_train_성과정보.parquet')
df1

,기준년월,ID,증감율_이용건수_신용_전월,증감율_이용건수_신판_전월,증감율_이용건수_일시불_전월,증감율_이용건수_할부_전월,증감율_이용건수_CA_전월,증감율_이용건수_체크_전월,증감율_이용건수_카드론_전월,증감율_이용금액_신용_전월,...,변동률_RV일시불평잔,변동률_할부평잔,변동률_CA평잔,변동률_RVCA평잔,변동률_카드론평잔,변동률_잔액_B1M,변동률_잔액_일시불_B1M,변동률_잔액_CA_B1M,혜택수혜율_R3M,혜택수혜율_B0M
0,201807,TRAIN_000000,0.454548,0.454548,0.364727,1.999996,0.0,0.000000,0.0,0.409766,...,0.999998,1.042805,0.999700,0.999998,0.999998,0.261886,0.270752,0.000000,1.044401,1.280543
1,201807,TRAIN_000001,-0.511808,-0.511808,-0.511808,0.000000,0.0,0.000000,0.0,-1.010817,...,1.092698,0.905663,0.999998,0.999998,0.999998,-0.563388,-0.670348,0.000000,0.000000,0.000000
2,201807,TRAIN_000002,-0.062716,-0.062716,0.067843,-1.999996,0.0,0.000000,0.0,-0.902166,...,1.006124,1.993590,0.852567,0.999998,0.999998,-0.046516,0.058114,-0.014191,0.524159,1.208420
3,201807,TRAIN_000003,0.135707,0.135707,0.153975,-1.999996,0.0,0.000000,0.0,-0.866052,...,0.999998,1.050646,0.999877,0.999998,0.999998,0.023821,0.258943,0.000000,0.880925,1.657124
4,201807,TRAIN_000004,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000028,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399995,201807,TRAIN_399995,0.000000,0.000000,0.000000,0.000000,0.0,-0.338978,0.0,0.000060,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.000000,NaN,NaN
399996,201807,TRAIN_399996,-0.234430,-0.234430,-0.234430,0.000000,0.0,0.000000,0.0,-0.949039,...,0.999998,0.000000,0.999998,0.999998,0.924698,-0.449567,-0.513523,0.000000,1.951215,1.770262
399997,201807,TRAIN_399997,0.432663,0.432663,0.370023,1.999996,0.0,0.000000,0.0,0.512670,...,0.999998,0.305713,0.999998,0.999998,0.999998,0.580665,0.601561,0.000000,0.000000,0.000000
399998,201807,TRAIN_399998,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,-0.000002,...,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.000000,NaN,NaN
399999,201807,TRAIN_399999,1.999996,1.999996,1.999996,1.999996,0.0,0.000000,0.0,2.001371,...,0.999998,0.765724,0.999998,0.999998,0.999998,0.066848,1.999996,0.000000,0.000000,0.000000

In [4]:
# 1. 파일 경로 패턴 설정
file_list = glob.glob(f'{drive_folder1}/2018*_train_성과정보.parquet')

# 2. 각 파일 읽어서 리스트에 담기
df_list = [pd.read_parquet(file) for file in file_list]

# 3. 데이터프레임 하나로 합치기 // ignore_index=True 를 이용해 인덱스 겹치지 않게
df_merged = pd.concat(df_list, ignore_index=True)

# 4. parquet로 저장
df_merged.to_parquet(f'{drive_folder1}train_성과정보_통합.parquet', index=False)

print("✅ 총 파일 수:", len(file_list))
print("✅ 통합 완료! 저장 파일명: train_성과정보_통합.parquet")
print("✅ 총 행 수:", len(df_merged))

✅ 총 파일 수: 6
✅ 통합 완료! 저장 파일명: train_성과정보_통합.csv
✅ 총 행 수: 2400000

In [5]:
# sample_df = df_merged.head(100000)
# sample_df.to_csv("성과정보_sample.csv", index=False)

In [6]:
# 1. 파일 경로 패턴 설정
file_list = glob.glob(f'{drive_folder2}/2018*_test_성과정보.parquet')

# 2. 각 파일 읽어서 리스트에 담기
df_list = [pd.read_parquet(file) for file in file_list]

# 3. 데이터프레임 하나로 합치기 // ignore_index=True 를 이용해 인덱스 겹치지 않게
df_merged = pd.concat(df_list, ignore_index=True)

# 4. parquet로 저장
df_merged.to_parquet(f'{drive_folder2}test_성과정보_통합.parquet', index=False)

print("✅ 총 파일 수:", len(file_list))
print("✅ 통합 완료! 저장 파일명: test_성과정보_통합.parquet")
print("✅ 총 행 수:", len(df_merged))

✅ 총 파일 수: 6
✅ 통합 완료! 저장 파일명: test_성과정보_통합.csv
✅ 총 행 수: 600000