In [55]:
import pandas as pd
import os

In [57]:
data_type = "test"
month = "12"
# category = "잔액정보"

# local
root_path = '../data/open/'

# colab
# root_path = '/content/drive/MyDrive/12조 파이널프로젝트/data'

drive_folder = f'{root_path}/{data_type}'
merge_keys = ['ID', '기준년월']

In [59]:
# 2. 데이터 카테고리 정보
data_categories = {
    "회원정보": {"folder": "1.회원정보", "suffix": "회원정보"},
    "신용정보": {"folder": "2.신용정보", "suffix": "신용정보"},
    "승인매출정보": {"folder": "3.승인매출정보", "suffix": "승인매출정보"},
    "청구정보": {"folder": "4.청구입금정보", "suffix": "청구정보"},
    "잔액정보": {"folder": "5.잔액정보", "suffix": "잔액정보"},
    "채널정보": {"folder": "6.채널정보", "suffix": "채널정보"},
    "마케팅정보": {"folder": "7.마케팅정보", "suffix": "마케팅정보"},
    "성과정보": {"folder": "8.성과정보", "suffix": "성과정보"}
}

In [61]:
# 3. 병합
merged_df = None

for name, info in data_categories.items():
    file_path = f"{drive_folder}/{info['folder']}/2018{month}_processed_{info['suffix']}.parquet"

    if not os.path.exists(file_path):
        print(f"⚠️ 파일 없음: {file_path}")
        continue

    df = pd.read_parquet(file_path)

    if merged_df is None:
        merged_df = df.copy()
        print(f"🧩 시작: {name} → shape: {df.shape}")
    else:
        merged_df = pd.merge(merged_df, df, on=merge_keys, how='inner')
        print(f"🧩 병합: {name} → merged shape: {merged_df.shape}")

🧩 시작: 회원정보 → shape: (100000, 60)
🧩 병합: 신용정보 → merged shape: (100000, 103)
🧩 병합: 승인매출정보 → merged shape: (100000, 444)
🧩 병합: 청구정보 → merged shape: (100000, 487)
🧩 병합: 잔액정보 → merged shape: (100000, 553)
🧩 병합: 채널정보 → merged shape: (100000, 604)
🧩 병합: 마케팅정보 → merged shape: (100000, 637)
🧩 병합: 성과정보 → merged shape: (100000, 681)

In [66]:
# 4. 저장
output_path = '../data/open/머신러닝/test_12월_통합.parquet'
merged_df.to_parquet(output_path, index=False)
print(f"\n✅ 저장 완료: {output_path}")

✅ 저장 완료: ../data/open/머신러닝/test_12월_통합.parquet

In [68]:
df= pd.read_parquet('../data/open/머신러닝/test_12월_통합.parquet')
df

,기준년월,ID,남녀구분코드,연령,회원여부_이용가능,회원여부_이용가능_CA,회원여부_이용가능_카드론,소지여부_신용,소지카드수_유효_신용,소지카드수_이용가능_신용,...,잔액_신판ca최대한도소진율_r3m,변동률_일시불평잔,변동률_RV일시불평잔,변동률_할부평잔,변동률_CA평잔,변동률_RVCA평잔,변동률_카드론평잔,변동률_잔액_B1M,변동률_잔액_일시불_B1M,변동률_잔액_CA_B1M
0,201812,TEST_00000,1,40,1,1,0,1,2,2,...,0.087106,1.191672,0.999998,0.999998,0.999998,0.999998,0.999998,0.056140,0.080387,0.00000
1,201812,TEST_00001,1,60,1,1,0,1,1,1,...,0.628949,0.885326,0.999998,1.046162,0.867230,0.999998,0.918430,0.018682,0.035442,0.09946
2,201812,TEST_00002,1,40,1,1,1,1,2,2,...,0.057933,0.780562,0.999998,0.591710,0.999998,0.999998,0.999998,-0.024557,0.046305,0.00000
3,201812,TEST_00003,2,40,1,1,1,1,1,1,...,0.099358,1.085401,0.999998,1.533224,0.999998,0.999998,0.999998,-0.085580,-0.103334,0.00000
4,201812,TEST_00004,2,40,1,0,1,1,1,1,...,0.629920,0.971311,0.999998,0.776282,0.999998,0.999998,0.999998,0.087448,0.254033,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,201812,TEST_99995,2,60,0,0,0,0,0,0,...,0.000000,0.999998,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.00000
99996,201812,TEST_99996,1,30,1,1,1,1,1,1,...,0.000000,0.894539,0.999998,0.999998,0.999998,0.999998,0.999998,0.143554,0.233616,0.00000
99997,201812,TEST_99997,2,30,1,1,1,1,1,1,...,0.013292,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
99998,201812,TEST_99998,1,30,1,1,1,1,3,3,...,0.379777,0.809328,0.999998,0.333183,0.999998,0.999998,0.999998,-0.038153,-0.106142,0.00000
99999,201812,TEST_99999,1,30,1,1,1,1,1,1,...,0.000000,0.949586,0.999998,0.999998,0.999998,0.999998,0.999998,0.000000,0.000000,0.00000

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 681 entries, 기준년월 to 변동률_잔액_CA_B1M
dtypes: float32(51), int32(629), object(1)
memory usage: 260.2+ MB

In [72]:
# 예: df1 또는 df2에서 object 타입 컬럼 확인
object_cols = df.select_dtypes(include='object').columns.tolist()

# 출력
print("📦 object 타입 컬럼 목록:")
for col in object_cols:
    print(f"- {col}")

print(f"\n✅ 총 {len(object_cols)}개")

📦 object 타입 컬럼 목록:
- ID

✅ 총 1개